<a href="https://colab.research.google.com/github/afnanAlgognadi/tutorialPython/blob/main/06_If_For_While_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# If statements

## Indentation

There are no brackets for if statments or "end if" type of s

## Example 1

In [ ]:
x = 4

if x<10:
  for i in range(x):
    print("hello")


else:
  print("numebr is too large")

hello
hello
hello
hello

In [ ]:
x = [0,1,2,3,4,5,6]

for e in range(10):
  print(e)

0
1
2
3
4
5
6
7
8
9

In [ ]:
if True:
    print('The condition is satisfied!')

The condition is satisfied!

Let's add in some else logic:

In [ ]:
x = False

if x:
    print('The condition is satisfied!')
else:
    print('The condition was NOT is satisfied!')

The condition was NOT is satisfied!

### Multiple Cases

In [ ]:
loc = 'dry cleaners'

if loc == 'car shop':
    print('Welcome to the Car Shop!')
elif loc == 'dry cleaners':
    print('Welcome to the dry cleaners!')
else:
    print('I do not identify this location')

Welcome to the dry cleaners!

In [ ]:
person = 'George'

if person == 'Sammy':
    print('Welcome Sammy!')
elif person =='George':
    print('Welcome George!')
else:
    print("Welcome, what's your name?")

Welcome George!

# For Loops

The general format of a For loop is:

    for item in object:
        statements to do stuff

## Example 1

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

## Example 2

In [ ]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [ ]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

## Example 3

In [ ]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum += num

print(list_sum)

55

## Example 4: Loop over a string

In [ ]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

## Example 5: Loop over a tuple

In [ ]:
my_tuple = (1,2,3,4)
for element in my_tuple:
    print(element)

1
2
3
4

## Example 6: Loop over a dictionary

In [ ]:
my_dict = {'key_one' : 1, 'key_two' : 2, 'key_three' : 3}

In [ ]:
for element in my_dict:
    print(element)

key_one
key_two
key_three

In [ ]:
my_dict.items()

dict_items([('key_one', 1), ('key_two', 2), ('key_three', 3)])

In [ ]:
for key, val in my_dict.items():
    print('Key: {}. Value: {}'.format(key,val))

Key: key_one. Value: 1
Key: key_two. Value: 2
Key: key_three. Value: 3

In [ ]:
my_dict.keys()

dict_keys(['key_one', 'key_two', 'key_three'])

In [ ]:
for element in my_dict.keys():
    print(element)

key_one
key_two
key_three

In [ ]:
my_dict.values()

dict_values([1, 2, 3])

In [ ]:
for element in my_dict.values():
    print(element)

1
2
3

## Example 7: Loop over list of 'things'

In [ ]:
list2 = [(2,4),(6,8),(10,12)]

for element in list2:
    print(element)

(2, 4)
(6, 8)
(10, 12)

### with unpacking

In [ ]:
for (v1,v2) in list2:
    print(v2)

4
8
12

## Useful functions

We will show how to use range to generate a sequence of integers

In [3]:
range(10)

range(0, 10)

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
for num in range(8):
    print(num)

0
1
2
3
4
5
6
7

In [ ]:
for num in range(0, 3, 2):
    print(num)

0
2

In [ ]:
counter = 0
for char in "adel bibi":
    print("At index {} the character is {}".format(counter, char))
    counter += 1

At index 0 the character is a
At index 1 the character is d
At index 2 the character is e
At index 3 the character is l
At index 4 the character is
At index 5 the character is b
At index 6 the character is i
At index 7 the character is b
At index 8 the character is i

In [ ]:
counter = 0
for item in enumerate("adel bibi"):
    print(item)

(0, 'a')
(1, 'd')
(2, 'e')
(3, 'l')
(4, ' ')
(5, 'b')
(6, 'i')
(7, 'b')
(8, 'i')

In [ ]:
counter = 0
for index, char in enumerate("adel bibi"):
    print(index, char)

0 a
1 d
2 e
3 l
4
5 b
6 i
7 b
8 i

# While Statements

The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements

## Example 1

In [ ]:
x = 0

while x < 6:
    print('x = ',x)
    print(' x < 6, adding 1 to x')
    x+=1

x =  0
 x < 6, adding 1 to x
x =  1
 x < 6, adding 1 to x
x =  2
 x < 6, adding 1 to x
x =  3
 x < 6, adding 1 to x
x =  4
 x < 6, adding 1 to x
x =  5
 x < 6, adding 1 to x

## Adding conditions

    while test: 
        code statement
        if test: 
            break
        if test: 
            continue 
    else:

In [ ]:
x = 0

while x < 6:
    print('x =',x)
    print(' x < 6, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

x = 0
 x < 6, adding 1 to x
continuing...
x = 1
 x < 6, adding 1 to x
continuing...
x = 2
 x < 6, adding 1 to x
Breaking because x==3

# Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

In [ ]:
for x in [-1, 0, 1]:
    print(sign(x))
# Prints "negative", "zero", "positive"

negative
zero
positive

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}!'.format(name.upper()))
    else:
        print('Hello, %s' % name)

hello('Bob') # Prints "Hello, Bob"
hello('Fred', loud=True)  # Prints "HELLO, FRED!"

Hello, Bob
HELLO, FRED!

In [ ]:
def ell_2_norm(a,b):
    y = (a**2 + b**2)**(0.5)
    return y

In [ ]:
ell_2_norm(1,3)

3.1622776601683795